<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.academy.mappers.student.studentMapper">
	
	<!-- 대시보드 : 특정 학생의 수강 과목 리스트 -->
	<select id="attendLectureList" resultType="AttendLectureVO">
		select s.stu_id, co.cou_id, co.cou_name
		from attend_course a
		join student s
		on s.stu_id = a.stu_id
		join course co
		on co.cou_id = a.cou_id
		where s.stu_id = #{stu_id}
	</select>
	
</mapper>